main {
    max-width: 1200px;
    margin: 0 auto;    
    padding: 0 20px;   
}

.category_list_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.category_box {
    background-color: #8dc3f2; 
    color: white;          
    text-decoration: none; 
    padding: 40px 20px;    
    display: flex;
    align-items: center; 
}

.product_list_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;                          
    padding: 20px;                         
}

.product_card img{
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.img{
    background-attachment: #b66363;
}